<!--======================================Home Section Start===================================================================================
    ================================================================================================================================-->

<section id="home" >
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content " >
        
        <div class="Londrina aos-item"data-aos="fade-right"  ><span class="text-2">Hey, The Guy Whose name is written at top left is a<br> </span>&nbsp;<span class="text-3 typed-element"></span></div><br>
        <!-- <div class="mypic"></div> -->
        <a type="button" class="btn  btn-lg" href="#about" ><i class="fa fa-arrow-up fa-1x"></i><i class="fa fa-arrow-down fa-1x"></i>&nbsp;Who's this guy?</a>
    </div>   
        <!-- <router-outlet ></router-outlet> -->
</section>

    <!--======================================Home Section End======================================================
        ====================================================================================================================================================================-->


<!--======================================About Section Start================================================================================================================================-->

<section id="about"  >
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
   
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- <div class="carousel-indicators">
                        <li type="button" data-target="#carouselExampleIndicators" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
                        <li type="button" data-target="#carouselExampleIndicators" data-slide-to="1" aria-label="Slide 2"></li>
                    </div> -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/job.jpg" alt=""></div>
                                            <div class="img-text" >
                                                <h2>Job</h2>
                                                <p>I am a software developer at <a href="https://www.linkedin.com/company/zensar/">Zensar Technologies.</a>
                                                Joined Zensar in June'2019. I got training in ASP.Net. My first project for Zensar was CHC.
                                                I worked on many regulatory projects. Specially on Oracle PL-SQL.</p>
                                            </div>                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/code.jpg" alt=""></div>
                                            <div class="img-text">
                                                <h2>Coding</h2>
                                                <p>One of the most important think to do in my life is coding.
                                                   I have been doing coding from 2015 itself.I have knowledge in 
                                                   Python, C++, C, Java, C#.
                                                   I usually code on online platform like Hackerrank and Leetcode. 
                                                </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/college.png" alt=""></div>
                                            <div class="img-text">
                                                <h2>College</h2>
                                                <p>I graduated from IES College of Technology, Bhopal in 2019.
                                                    I did Computer Science Engineering.
                                                    I joined my college on 17th Aug'2015.
                                        
                                                </p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/home.jpg" alt=""></div>
                                            <div class="img-text">
                                                <h2>Home</h2>
                                                <p>I belong to Deoghar, Jharkhand. Earlier I had been to Delhi, Guwahati, Ranchi.
                                                    Finally my home address is Deoghar.
                                                </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/hobby.png" alt=""></div>
                                            <div class="img-text">
                                                <h2>Hobbies</h2>
                                                <p>My primary hobby is to play cricket. Watching an interesting cricket match
                                                    is also fun.
                                                    Other than that, I like to cook but not so often.
                                                    Learning and involving myself in new technology is something which I like 
                                                    to do more these days.

                                                </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up">
                                        <div class="img-area"><img src="../../assets/images/profilepic.jpg" alt=""></div>
                                            <div class="img-text">
                                                <h2>About Me</h2>
                                                <p>Baad Me Btata hu</p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class=" fa fa-angle-left fa-2x" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> -->
                </div>
                
            </div>
        </div>     

    </div>
    
</section>

<!--======================================About Section End================================================================================================================================-->

<!--======================================Portfolio Section Start================================================================================================================================-->
<!-- <section id="portfolio" >
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h1>My PortFolio</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up" (click)="openModal(pythonDetails)">
                                            <div class="img-text python" >
                                                <h3>Python Projects</h3>
                                            </div>                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up" (click)="openModal(webDetails)">
                                            <div class="img-text web">
                                                <h3>Web Development</h3>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box" data-aos="zoom-out-up" (click)="openModal(androidDetails)">
                                            <div class="img-text android">
                                                <h3>Mobile App</h3>
                                            </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>     

    </div> 
<ng-template #pythonDetails >
    <div id="myDesc" class="full-screen" >
        <div class="modal-header">   
            <h3>Python Projects</h3>
            <button type="button" class="close" aria-label="Close"> </button> 
        </div>
        <div class="d-flex justify-content-evenly *ngIf=!isCollapse">
                <div class="myColumn">  
                    <h1>Pandas</h1> 
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                       Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                       of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                       broader argument.
                    </p>                 
                </div>
                <div class="myColumn">   
                    <h1>MatplotLib</h1>  
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                        Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                        of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                        broader argument.
                    </p>                
                </div>               
        </div>    
    </div>

</ng-template>

<ng-template #webDetails>
    <div id="myDesc" class="full-screen  " >

        <div class="modal-header">   
            <h3>Web Development Projects</h3>
            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" ></button> 

        </div>
        <div class="d-flex justify-content-evenly">
                <div class="myColumn">  
                    <h1>Asp.Net</h1> 
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                       Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                       of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                       broader argument.
                    </p>                 
                </div>
                <div class="myColumn">   
                    <h1>Others</h1>  
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                        Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                        of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                        broader argument.
                    </p>                
                </div>               
        </div>    
    </div>    

</ng-template>

<ng-template #androidDetails>
    <div id="myDesc" class="full-screen  " >

        <div class="modal-header">   
            <h3>Android Projects</h3>
            <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" ></button> 

        </div>
        <div class="d-flex justify-content-evenly">
                <div class="myColumn">  
                    <h1>IES College App</h1> 
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                       Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                       of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                       broader argument.
                    </p>                 
                </div>
                <div class="myColumn">   
                    <h1>Vender</h1>  
                    <p>A paragraph is a series of related sentences developing a central idea, called the topic.
                        Try to think about paragraphs in terms of thematic unity: a paragraph is a sentence or a group
                        of sentences that supports one central, unified idea. Paragraphs add one idea at a time to your
                        broader argument.
                    </p>                
                </div>               
        </div>    
    </div>

</ng-template>

</section> -->

<section id="portfolio">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="w3-services py-5" id="services">
        <div class="container py-lg-3">
            <div class="title-section">
                <h3 class="main-title-w3">PORTFOLIO</h3>
                <div class="title-line">
                </div>
            </div>
            <div class="row w3-services-grids mt-lg-5 mt-4">
                <div class="col-lg-5 w3-services-left-grid">
                    <h4 style="font-family: 'Eczar';">What I Do ?</h4>
                    <p style="font-family: 'Eczar';">Well, I’m currently working as a software engineer at Zensar Technologies,
                       where I handle application programming and database scripting 
                       for our top performing client. Before that,<br> I was trained on Asp.Net 
                       and MS-SQL.
                    </p>
                    <br><br>
                    <a href="../../assets/data/Resume2.pdf"> Download Resume</a><br>
                    <a href="../../assets/data/Resume.pdf"> Download Linkedin Resume</a>

                    <!-- <div class="more">
                        <a href="#more" class="btn-primary btn btn-style mt-lg-5 mt-4">Know more</a>
                    </div> -->
                </div>
                <div class="col-lg-7 w3-services-right-grid mt-lg-0 mt-5 pl-lg-5">
                    <div class="row w3-icon-grid-gap1">
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#">
                                <!-- <span class="fab fa-python fa-1x " aria-hidden="true"></span> -->
                                <h3><i class="fab fa-python editContent"></i>&nbsp;&nbsp;Python Coding</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>More than 3 years experience on competetive python programming.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#link">
                                <!-- <span class="fas fa-mobile fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fas fa-mobile editContent"></i>&nbsp;&nbsp;Android Apps</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>Made many prototype android application in college project.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#link">
                                <!-- <span class="fab fa-html5 fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fab fa-html5 editContent"></i>&nbsp;&nbsp;Web Development</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>Web App Development in Angular with bootstrap.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#link">
                                <!-- <span class="fas fa-desktop fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fas fa-desktop editContent"></i>&nbsp;&nbsp;Software Development</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>Able to make light weight software in python,c++ and java.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#link">
                                <!-- <span class="fas fa-database fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fas fa-database editContent"></i>&nbsp;&nbsp;Database Scripting</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>Hands on industrial experience of more than one year on Pl-SQL database.</p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <a href="#link">
                                <!-- <span class="fas fa-brain fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fas fa-brain editContent"></i>&nbsp;&nbsp;Machine Learning(In Process)</h3>
                                <div class="clearfix"></div>
                            </a>
                            <p>Just started learning and upskilling my knowledge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- services block4 -->
    <div class="w3l-services py-5">
        <div class="container principles-grids principles-grids1 py-lg-3">
            <h3 class="head-title">My Expertise Are In</h3>
            <div class="scrollbar -services-scroll">
                <div class="row abt-btm pt-4">
                    <div class="col-lg-3 col-sm-6 bottom-gds">
                        <div class="elite-services1">
                            <div class="bott-img">
                                <div class="icon-holder editContent">
                                    <span class="fa fa-laptop service-icon" aria-hidden="true"></span>
                                </div>
                                <h4 class="mission">Competetive Coding</h4>
                                <div class="description">
                                    <!-- <p>Enean eget dolor dolor sit amet commodo ligula</p> -->
                                    <a href="#home" class="editContent">See My Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 bottom-gds mt-md-0 mt-5">
                        <div class="elite-services2">
                            <div class="bott-img">
                                <div class="icon-holder editContent">
                                    <span class="fab fa-python service-icon" aria-hidden= "true"></span>
                                </div>
                                <h4 class="mission">Python Development</h4>
                                <div class="description">
                                    <!-- <p>Commodo ligula eget dolor dolor sit amet ligula</p> -->
                                    <a href="" class="editContent">See My Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                        <div class="elite-services3">
                            <div class="bott-img">
                                <div class="icon-holder editContent">
                                    <span class="fab fa-html5 service-icon" aria-hidden="true"></span>
                                </div>
                                <h4 class="mission">Web Development and Design</h4>
                                <div class="description">
                                    <!-- <p>Enean eget dolor dolor sit amet commodo ligula</p> -->
                                    <a href="" class="editContent">See My Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                        <div class="elite-services4">
                            <div class="bott-img">
                                <div class="icon-holder editContent">
                                    <span class="fa fa-adjust service-icon" aria-hidden="true"></span>
                                </div>
                                <h4 class="mission">Problem Solving</h4>
                                <div class="description">
                                    <!-- <p>Commodo ligula eget dolor dolor sit amet ligula</p> -->
                                    <a href="" class="editContent">See My Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!--======================================Portfolio Section End================================================================================================================================-->
