<!--======================================Home Section Start===================================================================================
    ================================================================================================================================-->

<section id="home" >
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content " >
        
        <div class="Londrina aos-item"data-aos="fade-right"  ><span class="text-2">Hey, The Guy Whose name is written at top left is a<br> </span>&nbsp;<span class="text-3 typed-element"></span></div><br>
        <!-- <div class="mypic"></div> -->
        <a type="button" class="btn  btn-lg" href="#about" ><i class="fa fa-arrow-up fa-1x"></i><i class="fa fa-arrow-down fa-1x"></i>&nbsp;Who's this guy?</a>
    </div>   
        <!-- <router-outlet ></router-outlet> -->
</section>

<!--======================================Home Section End==========================================================================================================================================================================================================================-->

<!--======================================Portfolio Section Start================================================================================================================================-->


<section id="portfolio">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="w3-services py-5" id="services">
        <div class="container py-lg-3">
            <div class="title-section">
                <h3 class="main-title-w3">PORTFOLIO</h3>
                <div class="title-line">
                </div>
            </div>
            <div class="row w3-services-grids mt-lg-5 mt-4">
                <div class="col-lg-5 w3-services-left-grid">
                    <h4 style="font-family: 'Eczar';">About Me</h4>
                    <p style="font-family: 'Eczar';">
                        Abhishek is a System Engineer at <a style="font-family: 'Eczar'; color:darkturquoise;" href="https://www.linkedin.com/company/fime/">FIME</a>.<br>
                        He is responsible for development and maintenance of testing tools for multiple platform in Payment domain.<br>
                        Most of his work is done in Python language using various kind of encryption 
                        algorithm.<br><br>
                        He commenced his career at <a style="font-family: 'Eczar'; color:darkturquoise;" href="https://in.linkedin.com/company/zensar">Zensar Technologies</a> in 2019.<br>
                        Where he was designated as Software Engineer and worked in banking domain for world fifth's oldest bank i.e. C. Hoare Co.
                        He worked on multiple regulatory project which includes coding in Python, Oracle PL-SQL, VB.Net and C#.
                        
                    </p>
                    <br><br>
                    <a style="font-family: 'Eczar';" href="../../assets/data/Resume2.pdf"> Click to download Resume</a><br>
                    <a style="font-family: 'Eczar';" href="../../assets/data/Resume.pdf"> Click to download Linkedin Resume</a>

                </div>
                <div class="col-lg-7 w3-services-right-grid mt-lg-0 mt-5 pl-lg-5">
                    <div class="row w3-icon-grid-gap1">
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <h3><i class="fas fa-desktop editContent"></i>&nbsp;&nbsp;Software Development</h3>
                                <div class="clearfix"></div>
                            </span>
                            <p id="pdes">Experienced in working as software developer.<br>
                               Able to work in multiple language and framework.<br>
                               Have working experience in Banking,Finance and Payment domain.
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <h3><i class="fab fa-python editContent"></i>&nbsp;&nbsp;Coding</h3>
                                <div class="clearfix"></div>
                                <p id="pdes">Started basic coding in the first year of Engineering.
                                   Coded mostly in python language but do have knowledge in 
                                   various other language like C, C++, Java, C# and Android.
                                   Doing competetive coding practice on platform like Hackerrank, Leetcode,
                                   Hackerearth etc.<br>                                                                      
                                </p>
                            </span>
                           
                        </div>
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <!-- <span class="fas fa-mobile fa-2x editContent" aria-hidden="true"></span> -->
                                <h3><i class="fas fa-mobile editContent"></i>&nbsp;&nbsp;Mobile and Web Development</h3>
                                <div class="clearfix"></div>
                            </span>
                            <p id="pdes">Done summer internship in Android Development and Hadoop.<br>
                               Made several android application for college projects.
                               Some of the projects are uploaded on my github profile or scroll down to have a look. 
                               In web development field, created this portfolio website on Angular.
                               Learnt the basic from online tutorial and designed it by taking insipiration
                               from various portfolio websites. 
                            </p>
                        </div>
                        <!-- <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <h3><i class="fab fa-html5 editContent"></i>&nbsp;&nbsp;Web Development</h3>
                                <div class="clearfix"></div>
                            </span>
                            <p>Web App Development in Angular with bootstrap.</p>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <h3><i class="fas fa-database editContent"></i>&nbsp;&nbsp;Database Scripting</h3>
                                <div class="clearfix"></div>
                            </span>
                            <p>Hands on industrial experience of more than one year on Pl-SQL database.</p>
                        </div> -->
                        <div class="col-md-6 col-sm-6 w3-icon-grid1">
                            <span>
                                <h3><i class="fas fa-brain editContent"></i>&nbsp;&nbsp;Area of Interest</h3>
                                <div class="clearfix"></div>
                            </span>
                            <p id="pdes">Looking forward to make career in field of Artificial Intelligence and 
                             Machine Learning.<br>
                               Started learning from online platform and practicing on my own.<br> 
                               Completed some project using Numpy, Pandas and MatplotLib.
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- services block4 -->

</section>
<!--======================================Portfolio Section End================================================================================================================================-->

<!--======================================Project Section Start================================================================================================================================-->

<section id="project">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="w3-services py-5" id="services">
        <div class="container py-lg-3">
            <div class="title-section">
                <h3 class="main-title-w3">PROJECTS</h3>
                <div class="title-line">
                </div>
            </div>
            <div class="w3l-services py-5">
                <div class="container principles-grids principles-grids1 py-lg-3">
                    <div class="scrollbar -services-scroll">
                        <div class="row abt-btm pt-4">
                            <!-- <div class="col-lg-3 col-sm-6 bottom-gds">
                                <div class="elite-services1">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fa fa-laptop service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">Competetive Coding</h4>
                                        <div class="description">
                                            <a href="#home" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-md-0 mt-2">
                                <div class="elite-services1">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fab fa-python service-icon" aria-hidden= "true"></span>
                                        </div>
                                        <h4 class="mission">Pandas Project</h4>
                                        <div class="description">
                                            <p>In this project I use pandas library to create multiple csv file
                                                from one (dataset)file. In the code I put condition of division of 
                                                data on the basis of year.  
                                            </p>
                                            <a href="https://github.com/AbhishekKumarSingh07/DataSet_Pandas_IPL" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                                <div class="elite-services2">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fab fa-python service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">MatplotLib Project </h4>
                                        <div class="description">
                                            <p>With the ipl data set created graph of year 2018 ip team match
                                            and loss. I used matplotlib in it.
                                            </p>
                                            <a href="https://github.com/AbhishekKumarSingh07/Dataset_Matplot_Graph" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                                <div class="elite-services3">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fab fa-html5 service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">Web Portfolio Website</h4>
                                        <div class="description">
                                            <p>I created this website on Angular.I used bootstap classes in it.
                                                I kept it as public for personal use.
                                            </p>
                                            <a href="https://github.com/AbhishekKumarSingh07/MyPortfolioWebsite" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                                <div class="elite-services4">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fas fa-mobile service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">College Android App</h4>
                                        <div class="description">
                                            <p>I created this android app for my final semester project.
                                                This app was made for students for interaction with college professors
                                                remotely.
                                            </p>
                                            <a href="https://github.com/AbhishekKumarSingh07/IES_College_Std_App" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><br><br><br><br><br>
                        <div class="row abt-btm pt-4">
                            <!-- <div class="col-lg-3 col-sm-6 bottom-gds">
                                <div class="elite-services1">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fa fa-laptop service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">Competetive Coding</h4>
                                        <div class="description">
                                            <a href="#home" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                                <div class="elite-services3">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fab fa-html5 service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">Web Development and Design</h4>
                                        <div class="description">
                                            <a href="" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 bottom-gds mt-lg-0 mt-5">
                                <div class="elite-services4">
                                    <div class="bott-img">
                                        <div class="icon-holder editContent">
                                            <span class="fa fa-adjust service-icon" aria-hidden="true"></span>
                                        </div>
                                        <h4 class="mission">Problem Solving</h4>
                                        <div class="description">
                                            <a href="" class="editContent">See My Work</a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======================================Project Section End================================================================================================================================-->

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Originally Created by Abhishek Kumar Singh -
        Not a downloaded template.
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->